Assets/Jeux/Langues/SchemaDico.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  attributeFormDefault="unqualified"
  elementFormDefault="qualified">
  <xs:element name="mots">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="mot">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="motDico" type="xs:string"  use="required"/>
            </xs:sequence>
            <xs:attribute name="key" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
